@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  font-family:'Poppins',sans-serif;
  background:#0F0F0F;
  color:white;
}

.heading{
  font-family:'Playfair Display',serif;
}